/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 20px 0 30px;
  width: 100%;
}
.pagenation a {
  background: white;
}
.pagenation a,
.pagenation strong {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  padding: 4px 0 0;
  border-radius: 10px;
}
.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
  background: #e4e4e4;
}
.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  font-size: 20px;
}
.pagenation .active,
.pagenation strong {
  background: #0d7377;
  color: white;
  font-weight: normal;
  border-color: transparent;
}

* {
  box-sizing: border-box;
}

input[type=password] {
  font-family: sans-serif;
}
input[type=password]::-moz-placeholder {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}
input[type=password]:-ms-input-placeholder {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}
input[type=password]::placeholder {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* default input */
input,
select,
textarea {
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*
      @media all and (max-width: 1199px) {
          appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -webkit-appearance: none;

          &::-ms-expand {
              display: none;
          }
      }
  */
}

a {
  text-decoration: none;
  color: #333;
}

button {
  outline: none;
  border-radius: 0;
}

button.pop-close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  font-size: 0;
  padding: 4px 5px 0;
}
button.pop-close i {
  font-size: 32px;
}

label.before {
  line-height: 36px;
  padding: 0 6px 0 0;
  font-weight: bold;
}

input + label.before,
span.select-outline + label.before {
  margin-left: 14px;
}

input[type=text],
input[type=password],
input[type=date],
select {
  vertical-align: top;
  outline: none;
  border: 1px solid #ccc;
  height: 36px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;
}
input[type=text].main,
input[type=password].main,
input[type=date].main,
select.main {
  border-color: #0d7377;
}
input[type=text]:focus, input[type=text]:hover,
input[type=password]:focus,
input[type=password]:hover,
input[type=date]:focus,
input[type=date]:hover,
select:focus,
select:hover {
  border-color: #555;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
input[type=text].w40,
input[type=password].w40,
input[type=date].w40,
select.w40 {
  width: 40px;
}
input[type=text].w100,
input[type=password].w100,
input[type=date].w100,
select.w100 {
  width: 100px;
}
input[type=text].w150,
input[type=password].w150,
input[type=date].w150,
select.w150 {
  width: 150px;
}
input[type=text].w200,
input[type=password].w200,
input[type=date].w200,
select.w200 {
  width: 200px;
}
input[type=text].w400,
input[type=password].w400,
input[type=date].w400,
select.w400 {
  width: 400px;
}
input[type=text].wfull,
input[type=password].wfull,
input[type=date].wfull,
select.wfull {
  width: 100%;
}

span.select-outline {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
span.select-outline select {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  padding: 0 30px 0 10px;
}
span.select-outline select::-ms-expand {
  display: none;
}
span.select-outline::before, span.select-outline::after {
  content: "";
  position: absolute;
  top: 17px;
  display: block;
  width: 8px;
  height: 1px;
  background: #222;
  transition: all 0.2s ease;
}
span.select-outline::before {
  transform: rotate(45deg);
  right: 12px;
}
span.select-outline::after {
  transform: rotate(-45deg);
  right: 6px;
}
span.select-outline:focus-within::before {
  transform: rotate(-45deg);
}
span.select-outline:focus-within::after {
  transform: rotate(45deg);
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

input[type=radio] + label,
input[type=checkbox] + label {
  position: relative;
  font-size: 14px;
  margin: 0 0;
  padding: 0 10px 0 28px;
}
input[type=radio] + label i,
input[type=checkbox] + label i {
  position: absolute;
  left: 0;
  top: -2px;
  color: #ccc;
  font-size: 26px;
}

input:checked + label {
  color: #0d7377;
  font-weight: 600;
}
input:checked + label i {
  color: #0d7377;
}

textarea {
  vertical-align: top;
  outline: none;
  border: 1px solid #ddd;
  background: #f4f4f4;
  min-height: 80px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}
textarea.main {
  border-color: #0d7377;
}
textarea:focus, textarea:hover {
  border-color: #555;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

input[type=text]:-moz-read-only, input[type=passwd]:-moz-read-only, input[type=date]:-moz-read-only, textarea:-moz-read-only {
  background: #f4f4f4;
  border: none;
  color: #222;
  font-weight: 600;
}

input[type=text]:read-only,
input[type=passwd]:read-only,
input[type=date]:read-only,
textarea:read-only {
  background: #f4f4f4;
  border: none;
  color: #222;
  font-weight: 600;
}
input[type=text]:-moz-read-only:focus, input[type=text]:-moz-read-only:hover, input[type=passwd]:-moz-read-only:focus, input[type=passwd]:-moz-read-only:hover, input[type=date]:-moz-read-only:focus, input[type=date]:-moz-read-only:hover, textarea:-moz-read-only:focus, textarea:-moz-read-only:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
input[type=text]:read-only:focus, input[type=text]:read-only:hover,
input[type=passwd]:read-only:focus,
input[type=passwd]:read-only:hover,
input[type=date]:read-only:focus,
input[type=date]:read-only:hover,
textarea:read-only:focus,
textarea:read-only:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/* default btn */
.button,
.btn {
  display: inline-block;
  vertical-align: baseline;
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 34px;
  border-radius: 5px;
  padding: 0 20px;
  margin: 0 2px;
  font-size: 14px;
}
.button.main,
.btn.main {
  background: #0d7377;
  color: #fff;
  border-color: transparent;
}
.button.sub,
.btn.sub {
  background: #555;
  color: #fff;
  border-color: transparent;
}
.button.btn-ms,
.btn.btn-ms {
  line-height: 26px;
  font-size: 13px;
  padding: 0 15px;
}
.button.btn-xs,
.btn.btn-xs {
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
}
.button u,
.btn u {
  display: inline-block;
  text-decoration: none;
  padding: 0 0 0 4px;
  opacity: 0.8;
  font-size: 0.8em;
  font-weight: 200;
}
.button i,
.btn i {
  position: relative;
  top: 2px;
  margin: 0 4px 0 0;
  font-size: 16px;
}

.btn-set {
  margin: 10px;
  font-size: 0;
}
.btn-set.center {
  text-align: center;
}
.btn-set.right {
  text-align: right;
}
.btn-set.big .button {
  height: 44px;
  padding: 0 20px;
  min-width: 160px;
  font-size: 16px;
}
.btn-set.align div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.btn-set.align div.left {
  text-align: left;
}
.btn-set.align div.right {
  text-align: right;
}

table.basic,
table.board_list {
  width: 100%;
}
table.basic td,
table.basic th,
table.board_list td,
table.board_list th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: auto;
}
table.basic td:last-of-type,
table.basic th:last-of-type,
table.board_list td:last-of-type,
table.board_list th:last-of-type {
  border-right: none;
}
table.basic td input[type=checkbox],
table.basic th input[type=checkbox],
table.board_list td input[type=checkbox],
table.board_list th input[type=checkbox] {
  display: inline-block;
  width: 20px;
  height: 20px;
}
table.basic td.w60,
table.basic th.w60,
table.board_list td.w60,
table.board_list th.w60 {
  width: 60px;
}
table.basic td.w120,
table.basic th.w120,
table.board_list td.w120,
table.board_list th.w120 {
  width: 120px;
}
table.basic thead tr th,
table.board_list thead tr th {
  padding: 8px 0;
  background: #e4e4e4;
}
table.basic tbody tr td,
table.board_list tbody tr td {
  padding: 8px;
}
table.basic tbody tr td.center,
table.board_list tbody tr td.center {
  text-align: center;
}
table.basic tbody tr td.right,
table.board_list tbody tr td.right {
  text-align: right;
}

table.landscape {
  width: 100%;
}
table.landscape td,
table.landscape th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table.landscape th {
  padding: 8px 0;
  background: #e4e4e4;
}
table.landscape td {
  padding: 8px;
}
table.landscape td:last-of-type {
  border-right: none;
}
table.landscape td.center {
  text-align: center;
}
table.landscape td.right {
  text-align: right;
}

div.board-tools {
  position: relative;
  margin: 20px;
  background: #efefef;
  border-radius: 10px;
  padding: 20px 20px 20px 140px;
}
div.board-tools h4 {
  position: absolute;
  left: 20px;
  top: 24px;
  margin: 0;
  font-size: 16px;
}

span.pilsu {
  position: relative;
  top: 7px;
  color: #843534;
  font-size: 20px;
}

/* default layout */
div.rows {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
div.rows:last-of-type {
  border: none;
}

/* widget layout */
div.widget {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px;
  padding: 0 5px;
}
div.widget.c02 {
  width: 16.6666666667%;
}
div.widget.c03 {
  width: 25%;
}
div.widget.c04 {
  width: 33.3333333333%;
}
div.widget.c05 {
  width: 41.6666666667%;
}
div.widget.c06 {
  width: 50%;
}
div.widget.c07 {
  width: 58.3333333333%;
}
div.widget.c08 {
  width: 66.6666666667%;
}
div.widget.c09 {
  width: 75%;
}
div.widget.c10 {
  width: 83.3333333333%;
}
div.widget.c11 {
  width: 58.3333333333%;
}
div.widget.c12 {
  width: 58.3333333333%;
}
div.widget div.inline {
  font-size: 14px;
  background: #fff;
  border-radius: 10px;
  min-height: 170px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
div.widget div.inline h3 {
  margin: 0;
  padding: 0 10px;
  font-weight: 400;
  line-height: 42px;
  background: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 16px;
  letter-spacing: -1px;
}
div.widget div.inline h3 small {
  display: block;
  float: right;
  color: #999;
}
div.widget div.inline h3 button {
  vertical-align: top;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 0;
  color: #999;
}
div.widget div.inline h3 button i {
  font-size: 22px;
  line-height: inherit;
}
div.widget div.inline div.box {
  margin: 0;
  padding: 10px;
}
div.widget div.inline div.box.weather {
  text-align: center;
  margin: 0;
  padding: 20px 0 0;
}
div.widget div.inline div.box.weather i {
  font-size: 120px;
}
div.widget div.inline div.box.weather p {
  font-size: 26px;
  font-weight: 800;
}
div.widget div.inline div.box.calc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.widget div.inline div.box.calc ul li {
  float: left;
  width: calc(100% - 20px);
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 0 10px;
}
div.widget div.inline div.box.calc ul li:last-child {
  border: none;
}
div.widget div.inline div.box.calc ul li span {
  display: block;
  float: left;
  font-size: 16px;
}
div.widget div.inline div.box.calc ul li span i {
  position: relative;
  top: 2px;
  font-size: 22px;
  margin: 0 6px 0 0;
}
div.widget div.inline div.box.calc ul li strong {
  float: right;
  font-size: 18px;
  color: #fff1b7;
  font-weight: 400;
}
div.widget div.inline div.box.calc ul li strong u {
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
}
div.widget div.inline div.box.table {
  margin: 0;
  padding: 0;
}
div.widget div.inline div.box.table table {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
div.widget div.inline div.box.table table th,
div.widget div.inline div.box.table table td {
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px 0;
}
div.widget div.inline div.box.table table th:last-child,
div.widget div.inline div.box.table table td:last-child {
  border-right: none;
}
div.widget div.inline div.box.table table th {
  background: rgba(0, 0, 0, 0.4);
}
div.widget div.inline div.box.table table td {
  font-weight: 800;
  font-size: 22px;
  color: #fff;
}
div.widget div.inline div.box.board {
  padding: 0;
}
div.widget div.inline div.box.board ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.widget div.inline div.box.board ul li {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #efefef;
}
div.widget div.inline div.box.board ul li:last-child {
  border: none;
}
div.widget div.inline div.box.board ul li i {
  font-style: normal;
  position: absolute;
  right: 20px;
  color: #999;
}
div.widget.h02 div.inline {
  min-height: 280px;
}
div.widget.wall div.inline div.box {
  margin: 0;
  padding: 30px;
}
div.widget.wall div.inline div.box h4 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
div.widget.main div.inline {
  background: #0d7377;
  color: #fff;
}
div.widget.main div.inline h3 {
  background: #084749;
}
div.widget.main div.inline h3 small {
  color: #fff;
  opacity: 0.6;
}
div.widget.gray div.inline {
  background: #555;
  color: #fff;
}
div.widget.black div.inline {
  background: #222;
  color: #fff;
}
div.widget.black div.inline h3 {
  background: #333;
}
div.widget.black div.inline h3 small {
  color: #ccc;
}
div.widget.gray-l div.inline {
  background: #ccc;
  color: #fff;
}
div.widget.gray-l div.inline h3 {
  background: #555;
}
div.widget.gray-l div.inline h3 small {
  color: #ccc;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* modal */
#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  z-index: 1;
}
#modal .modal_content {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 600px;
  margin-left: -300px;
  min-height: 200px;
  overflow: hidden;
  background: #fff;
  border: 2px solid black;
}
#modal .modal_content h3 {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  border: 2px solid black;
  padding: 0 10px;
  line-height: 42px;
  color: #fff;
}
#modal.open {
  display: block;
}
#modal::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #333;
  position: relative;
  min-width: 800px;
  /* header */
}
body.error-page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-item: center;
  -webkit-justify-content: center;
  flex-direction: column;
}
body.error-page h1 {
  font-size: 80px;
  line-height: 1;
  margin: 0;
}
body.error-page h1 i {
  display: block;
  font-size: 220px;
}
body.error-page h1 small {
  font-size: 30px;
  display: block;
  margin-top: 20px;
}
body.error-page button.btn {
  line-height: 60px;
  width: 200px;
  font-size: 20px;
  margin: 60px 0;
}
body.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: auto;
}
body.login h1 {
  display: block;
  font-size: 52px;
  text-align: center;
  color: #0d7377;
}
body.login div.login-tab {
  font-size: 0;
  border-radius: 100px;
  margin: 0 0 20px;
  padding: 5px;
  text-align: center;
  background: #eee;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) inset;
}
body.login div.login-tab label {
  display: inline-block;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
  color: #333;
  border-radius: 100px;
  font-weight: 400;
}
body.login div.login-tab input:checked + label {
  color: #fff;
  background: #0d7377;
  padding: 12px 5px 10px;
  border-color: #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
body.login div.login-tab input:checked + label + input + label {
  border-left-color: #555;
}
body.login div.login-tab.item3 label {
  width: 33.3333333333%;
}
body.login div.login-tab.item2 label {
  width: 50%;
}
body.login div.outline {
  width: 340px;
  padding: 20px;
  text-align: center;
  font-size: 0;
}
body.login div.outline input[type=text],
body.login div.outline input[type=password] {
  display: inline-block;
  width: 280px;
  height: 56px;
  border: none;
  color: #fff;
  background: #555;
  outline: none;
  border-radius: 5px;
  margin: 0 auto 6px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.1s ease;
}
body.login div.outline input[type=text]::-moz-placeholder, body.login div.outline input[type=password]::-moz-placeholder {
  color: #999;
  font-weight: 400;
}
body.login div.outline input[type=text]:-ms-input-placeholder, body.login div.outline input[type=password]:-ms-input-placeholder {
  color: #999;
  font-weight: 400;
}
body.login div.outline input[type=text]::placeholder,
body.login div.outline input[type=password]::placeholder {
  color: #999;
  font-weight: 400;
}
body.login div.outline input[type=text]:focus,
body.login div.outline input[type=password]:focus {
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.5) inset;
  background: #222;
  transition: all 0.1s ease;
}
body.login div.outline input[type=text].wBtn,
body.login div.outline input[type=password].wBtn {
  width: 190px;
}
body.login div.outline input + button {
  width: 85px;
  height: 56px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background: #333;
  color: #fff;
  margin-left: 5px;
}
body.login div.outline div.custom-checkbox {
  margin: 20px 0;
  padding: 0;
  text-align: center;
}
body.login div.outline div.custom-checkbox input {
  display: none;
}
body.login div.outline div.custom-checkbox label {
  position: relative;
  font-size: 16px;
  margin: 20px 0;
  padding: 0 10px 0 28px;
}
body.login div.outline div.custom-checkbox label i {
  position: absolute;
  left: 0;
  top: -4px;
  color: #ccc;
  font-size: 26px;
}
body.login div.outline div.custom-checkbox input:checked + label {
  color: #0d7377;
}
body.login div.outline div.custom-checkbox input:checked + label i {
  color: #0d7377;
}
body.login div.outline button[type=submit] {
  display: inline-block;
  width: 280px;
  height: 56px;
  border: none;
  color: #fff;
  background: #0d7377;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.1s ease;
}
body.login div.outline button[type=submit]:hover {
  background: #031a1b;
  transition: all 0.1s ease;
}
body.login p.copyright {
  text-align: center;
  font-size: 14px;
  color: #999;
}
body .container {
  text-align: left;
  vertical-align: top;
  padding: 0;
}
body p.coding-guide {
  background: #efefef;
  border: 2px solid #000;
  padding: 20px;
  margin: 20px 0;
}
body div.subView {
  font-size: 14px;
  min-height: 320px;
  overflow: hidden;
}
body div.subView h3.btitle {
  font-size: 16px;
  font-weight: 400;
  background: black;
  margin: 0;
  padding: 10px;
  color: #fff;
  border-radius: 8px 8px 0 0;
}
body div.subView div.white-box {
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0 0 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
body div.subView div.white-box.toolbar {
  border-radius: 8px;
}
body div.subView div.white-box.toolbar div.rows {
  padding: 10px;
}
body div.subView div.white-box div.tree {
  position: absolute;
  left: 20px;
  top: 10px;
  overflow: scroll;
  width: 260px;
  height: 490px;
  padding: 5px;
  background: #eee;
  border: 1px solid #ddd;
  line-height: 24px;
}
body div.subView div.white-box div.tree input[type=checkbox] {
  display: inline-block;
}
body div.subView div.white-box div.tree * {
  vertical-align: top;
}
body div.subView div.white-box table.tree-table {
  margin-left: 320px;
  width: calc(100% - 320px);
}
body div.subView div.white-box table.tree-table tbody tr th {
  text-align: left;
  font-size: 16px;
  width: 180px;
}
body div.subView div.white-box table.tree-table tbody tr td {
  padding: 4px 0;
}
body div.subView div.white-box table.tree-table tbody tr td textarea {
  width: 100%;
}
body div.subView div.white-box div.tbbox {
  overflow-x: scroll;
}
body div.subView div.white-box div.tbbox table {
  width: auto;
  min-width: 100%;
}
body div.subView div.white-box div.tbbox table tr,
body div.subView div.white-box div.tbbox table td {
  white-space: nowrap;
  word-break: keep-all;
  padding: 8px 15px;
}
body div.subView div.pop-tree {
  padding: 20px;
  background: #fff;
}
body div.subView div.pop-tree input[type=checkbox] {
  display: inline-block;
  margin-right: 4px;
}
body header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  height: 38px;
  transition: all 0.4s ease;
}
body header button.menu {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: none;
  background: #0d7377;
  font-size: 0;
  width: 38px;
  height: 38px;
  transition: all 0.4s ease;
}
body header button.menu i.bar {
  display: block;
  position: absolute;
  left: 12px;
  width: 15px;
  height: 1px;
  background: #fff;
  transition: all 0.4s ease;
}
body header button.menu i.bar:first-of-type {
  top: 12px;
  transform: rotate(45deg);
  transition: all 0.4s ease;
}
body header button.menu i.bar:last-of-type {
  top: 22px;
  transform: rotate(-45deg);
}
body header h1 {
  margin: 0;
  padding: 0;
  line-height: 38px;
  vertical-align: top;
  display: inline-block;
}
body header h1 a {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: bolder;
  margin: 0;
  padding: 0 10px;
}
body header h1 a small {
  font-size: 0.8em;
  margin: 0;
  padding: 0 0 0 6px;
  color: #084749;
}
body header p.welcome {
  position: absolute;
  right: 110px;
  line-height: 38px;
  margin: 0;
  top: 0;
  color: black;
}
body header p.welcome strong {
  text-decoration: none;
  padding-right: 4px;
  color: #333;
}
body header button.logout {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 10px;
  line-height: 38px;
  color: #0d7377;
  font-weight: bolder;
  background: #eee;
  transition: all 0.4s ease;
}
body header button.logout i {
  position: relative;
  top: 1px;
  margin-right: 2px;
}
body div#content {
  display: flex;
}
body div#content aside {
  position: absolute;
  left: 0;
  top: 38px;
  bottom: 0;
  z-index: 400;
  color: #fff;
  display: inline-block;
  width: 38px;
  transition: all 0.4s ease;
  background: black;
}
body div#content aside div.profile {
  margin: 3px 0 10px;
  height: 90px;
  transition: all 0.4s ease;
}
body div#content aside div.profile p.photo {
  margin: 40px auto 10px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.4s ease;
}
body div#content aside div.profile p.photo img {
  width: 100%;
  min-height: 100%;
}
body div#content aside div.profile p.userName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease;
}
body div#content aside nav#main-menu.typeA > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
}
body div#content aside nav#main-menu.typeA > ul > li {
  border-bottom: 1px solid transparent;
}
body div#content aside nav#main-menu.typeA > ul > li h3 {
  margin: 0;
  padding: 0;
}
body div#content aside nav#main-menu.typeA > ul > li h3 a {
  position: relative;
  white-space: nowrap;
  font-weight: 600;
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  width: 38px;
  padding: 8px 0 8px 6px;
  margin: 0;
  transition: all 0.4s ease;
}
body div#content aside nav#main-menu.typeA > ul > li h3 a i {
  font-size: 20px;
  color: #bbb;
  position: relative;
  top: 3px;
  margin-right: 16px;
  transition: all 0.4s ease;
}
body div#content aside nav#main-menu.typeA > ul > li h3 a::before, body div#content aside nav#main-menu.typeA > ul > li h3 a::after {
  content: "";
  position: absolute;
  top: 20px;
  display: block;
  width: 6px;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease;
  opacity: 0;
}
body div#content aside nav#main-menu.typeA > ul > li h3 a:hover {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  width: 210px;
}
body div#content aside nav#main-menu.typeA > ul > li h3 a:hover i {
  color: #fff;
}
body div#content aside nav#main-menu.typeA > ul > li > ul {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 30px;
}
body div#content aside nav#main-menu.typeA > ul > li > ul li {
  display: block;
}
body div#content section.view {
  position: relative;
  flex: 1;
  background: #efefef;
  min-height: 100vh;
  width: 100%;
  padding: 38px 0 0 38px;
  overflow-x: hidden;
  transition: all 0.4s ease;
}
body div#content section.view iframe {
  border: none;
  width: 100%;
}
body div#content section.view div.tab-navigation {
  background: #333;
  position: relative;
}
body div#content section.view div.tab-navigation button.btn {
  position: absolute;
  z-index: 100;
  padding: 0;
  top: 2px;
  width: 40px;
  height: 40px;
  border: none;
  background: #333;
  color: #fff;
  margin: 0;
}
body div#content section.view div.tab-navigation button.btn.left {
  left: 0;
}
body div#content section.view div.tab-navigation button.btn.right {
  right: 0;
}
body div#content section.view div.tab-navigation button.btn i {
  font-size: 34px;
}
body div#content section.view div.tab-navigation div.tabs {
  width: 100%;
  overflow: hidden;
  padding: 1px 40px 0;
  font-size: 0;
  height: 42px;
}
body div#content section.view div.tab-navigation div.tabs div.item {
  position: relative;
  display: inline-block;
  width: calc((100vw - 118px) / 9);
  min-width: 117.7777777778px;
  padding: 2px 2px 0;
}
body div#content section.view div.tab-navigation div.tabs div.item a {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 41px;
  padding: 0 20px 0 10px;
  color: #999;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body div#content section.view div.tab-navigation div.tabs div.item button.close {
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
  background: none;
  color: #ccc;
}
body div#content section.view div.tab-navigation div.tabs div.item button.close i {
  font-size: 14px;
  padding: 4px 0;
}
body div#content section.view div.tab-navigation div.tabs div.item.on a {
  background: #efefef;
  color: #222;
}
body div#content section.view div.tab-navigation div.tabs div.item.on button.close {
  color: #000;
}
body div#content section.view div.toolarea {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
}
body div#content section.view div.toolarea button {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 0 0 4px;
  padding: 3px 10px 3px 30px;
  border: none;
  color: #555;
  border-radius: 5px;
  width: auto;
  height: 34px;
  line-height: 1;
}
body div#content section.view div.toolarea button svg {
  fill: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: auto;
}
body div#content section.view div.toolarea button i {
  margin-right: 6px;
}
body div#content section.view div.toolarea button svg,
body div#content section.view div.toolarea button i {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 16px;
}
body div#content section.view div.toolarea button:hover {
  background: #555;
  color: #fff;
}
body div#content section.view div.toolarea button:hover svg {
  fill: #fff;
}
body div#content section.view div.toolarea button.color-main {
  background: #0d7377;
  color: #fff;
}
body div#content section.view div.toolarea button.color-main:hover {
  background: black;
}
body div#content section.view div.toolarea button.color-gray {
  background: #555;
  color: #fff;
}
body div#content section.view div.toolarea button.color-gray:hover {
  background: #090909;
}
body div#content nav.navigation {
  position: absolute;
  left: 20px;
  top: 58px;
  font-size: 12px;
  color: #999;
}
body div#content nav.navigation ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
body div#content nav.navigation ol li {
  display: inline-block;
}
body div#content nav.navigation ol li::after {
  content: "/";
  padding: 0 2px;
}
body div#content nav.navigation ol li:last-child::after {
  display: none;
}
body div#content nav.navigation ol li.active {
  font-weight: 800;
}
body div#content nav.navigation ol li a {
  color: #999;
}
body div#content nav.navigation i {
  position: relative;
  top: 1px;
  margin-right: 6px;
}
body div#content div.sub-outline {
  width: 100%;
}
body div#content div.subView {
  width: 100%;
  padding: 20px;
}
body div#content div.subView.dashboard {
  font-size: 0;
}
body div#content div.subView h2.stitle {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 22px;
}
body div#content div.subView h2.stitle i {
  margin-right: 8px;
  color: black;
  font-size: 30px;
  vertical-align: middle;
}
body div#content div.subView div.nDashboard div.top {
  background: #444;
  color: #fff;
  padding: 20px 30px;
  font-size: 0;
  margin: 0 -20px;
  white-space: nowrap;
}
body div#content div.subView div.nDashboard div.top div.big {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 270px;
  padding: 30px 30px 30px 100px;
  background: #fff;
  color: #444;
  margin-right: 2px;
  font-size: 16px;
}
body div#content div.subView div.nDashboard div.top div.big.left {
  border-radius: 20px 0 0 20px;
}
body div#content div.subView div.nDashboard div.top div.big.right {
  border-radius: 0 20px 20px 0;
  margin-right: 20px;
}
body div#content div.subView div.nDashboard div.top div.big i {
  position: absolute;
  left: 14px;
  top: 40px;
  font-size: 60px;
  color: #0d7377;
}
body div#content div.subView div.nDashboard div.top div.big h3 {
  margin: 0;
}
body div#content div.subView div.nDashboard div.top div.big strong {
  font-size: 34px;
  font-weight: 800;
  color: #2b3e50;
  text-align: right;
}
body div#content div.subView div.nDashboard div.top div.big strong u {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 6px;
}
body div#content div.subView div.nDashboard div.top div.small {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding: 20px 30px;
  color: #fff;
}
body div#content div.subView div.nDashboard div.top div.small h3 {
  margin: 0 0 10px;
  color: #0ba1b5;
  font-size: 16px;
}
body div#content div.subView div.nDashboard div.top div.small div {
  display: inline-block;
  color: #eee;
  margin: 0 16px 0 0;
}
body div#content div.subView div.nDashboard div.top div.small div strong {
  display: block;
  font-size: 22px;
  color: #b6ad9a;
}
body div#content div.subView div.nDashboard div.top div.small div strong u {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
body div#content div.subView div.nDashboard div.middle {
  padding: 30px 0;
  font-size: 0;
}
body div#content div.subView div.nDashboard div.middle div.table-outline {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: calc(50% - 1px);
  padding: 0 20px;
}
body div#content div.subView div.nDashboard div.middle div.table-outline h3 {
  position: relative;
  background: #2b3e50;
  color: #fff;
  margin: 0;
  padding: 0 20px;
  line-height: 55px;
  font-size: 22px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
body div#content div.subView div.nDashboard div.middle div.table-outline h3 select {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #222;
  font-size: 16px;
}
body div#content div.subView div.nDashboard div.middle div.table-outline h3 small {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 16px;
  font-weight: 400;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline {
  background: #ccc;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table {
  width: 100%;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table thead tr {
  width: 100%;
  font-size: 0;
  padding-right: 16px;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table thead tr th {
  background: #333;
  color: #fff;
  height: 40px;
  font-size: 14px;
  border-right: 1px solid #999;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table thead tr th:last-child {
  border-right: none;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table tbody {
  width: 100%;
  padding-top: 40px;
  background: #fff;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table tbody tr {
  width: 100%;
  font-size: 0;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table tbody tr td {
  height: 40px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
body div#content div.subView div.nDashboard div.middle div.table-outline div.outline table tbody tr td:last-child {
  border-right: none;
}
body div#content div.subView ul.tool-btns {
  position: absolute;
  right: 20px;
  top: 10px;
}
body div#content div.subView ul.tool-btns li {
  display: inline-block;
  margin-left: 4px;
}
body div#content div.subView ul.tool-btns li a,
body div#content div.subView ul.tool-btns li button {
  display: block;
  margin: 0;
  line-height: 38px;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0 10px;
  border-radius: 6px;
}
body div#content div.subView ul.tool-btns li a i,
body div#content div.subView ul.tool-btns li button i {
  font-size: 16px;
  position: relative;
  top: 2px;
}
body footer#footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: black;
}
body footer#footer p {
  margin: 0;
  padding: 0;
}
body.open header {
  background: #0d7377;
}
body.open header h1 a {
  color: #fff;
}
body.open header h1 a small {
  color: #34e2e9;
}
body.open header p.welcome {
  color: #fff;
}
body.open header p.welcome strong {
  color: #34e2e9;
}
body.open header button.menu {
  width: 240px;
  background: black;
  transition: all 0.4s ease;
}
body.open header button.menu i.bar {
  display: block;
  position: absolute;
  left: 210px;
  width: 15px;
  height: 1px;
  background: #fff;
  transition: all 0.4s ease;
}
body.open header button.menu i.bar:first-of-type {
  top: 12px;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}
body.open header button.menu i.bar:last-of-type {
  top: 22px;
  transform: rotate(45deg);
  transition: all 0.4s ease;
}
body.open header button.logout {
  color: #fff;
  background: black;
}
body.open div#content aside {
  width: 240px;
  overflow-y: auto;
}
body.open div#content aside div.profile {
  margin: 40px auto 10px;
}
body.open div#content aside div.profile p.photo {
  transition: all 0.4s ease;
  width: 60px;
  height: 60px;
}
body.open div#content aside div.profile p.userName {
  opacity: 1;
  transition: all 0.4s ease;
  font-size: 14px;
}
body.open div#content aside nav#main-menu.typeA > ul {
  border-color: rgba(255, 255, 255, 0.2);
}
body.open div#content aside nav#main-menu.typeA > ul > li {
  border-color: rgba(255, 255, 255, 0.2);
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a {
  color: #eee;
  transition: all 0.4s ease;
  width: 240px;
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a i {
  color: #fff;
  margin-right: 5px;
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a:hover {
  width: auto;
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a::before, body.open div#content aside nav#main-menu.typeA > ul > li h3 a::after {
  opacity: 1;
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a::before {
  transform: rotate(45deg);
  right: 14px;
}
body.open div#content aside nav#main-menu.typeA > ul > li h3 a::after {
  transform: rotate(-45deg);
  right: 10px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active h3 a {
  color: #34e2e9;
  font-weight: bolder;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  width: 240px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active h3 a i {
  color: #fff;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active h3 a::before {
  transform: rotate(-45deg);
  background: #fff;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active h3 a::after {
  transform: rotate(45deg);
  background: #fff;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul {
  position: relative;
  max-height: 2000px;
  margin: 0;
  padding: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  list-style: none;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
  width: 2px;
  left: 15px;
  top: 0;
  bottom: 0;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li {
  position: relative;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
  width: 8px;
  height: 2px;
  left: 17px;
  top: 19px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 10px 30px 10px 34px;
  white-space: nowrap;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a::before, body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 20px;
  display: block;
  width: 6px;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a::before {
  transform: rotate(45deg);
  right: 14px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a::after {
  transform: rotate(-45deg);
  right: 10px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a i {
  opacity: 0.4;
  margin-right: 6px;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a:hover {
  background: rgba(255, 255, 255, 0.05);
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a.on {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a.on::before {
  transform: rotate(-45deg);
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li > a.on::after {
  transform: rotate(45deg);
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li ul {
  list-style: none;
  display: none;
  max-height: 1000px;
  padding: 10px 10px 10px 26px;
  margin: 0;
  background: black;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li ul.on {
  display: block;
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li ul li a {
  font-size: 14px;
  display: block;
  padding: 2px 0;
  color: rgba(255, 255, 255, 0.8);
}
body.open div#content aside nav#main-menu.typeA > ul > li.active > ul > li ul li a i {
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.6);
}
body.open div#content section.view {
  padding: 38px 0 0 240px;
}
body.pop {
  min-width: 100%;
  background: #efefef;
}
body.pop div#content section.pop-view {
  width: 100%;
}/*# sourceMappingURL=style.css.map */